:root {
    --darkblue: #384b61;
    --blue: #7faec5;
    --green: #4ecd5d;
    --white: #ffffff;
    --normalfont: 'Open Sans', sans-serif;
    --titlefont: 'Raleway', sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--darkblue);
    font-family: var(--normalfont);
    height: 100%;
    width: 100%;
    line-height: 1.4em;
  }

  article{
    padding: 1em;
  }

  .article-color {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }

  .sub-header {
    font-size: 1.6em;
    color: var(--blue);
  }

  .intro-title {
    color: var(--blue);
  }

  .section-title {
    color: var(--darkblue);
    border-bottom: 2px solid var(--green);
    margin-bottom: 1em;
  }

  button {
    background-color: var(--green);
    border-radius: 0.2em;
    border: none;
    color: var(--white);
    padding: 0.7rem 1rem;
    text-align: center;
    font-weight: 600;
    width: 10em;
    cursor: pointer;
    border: 2px solid var(--green);
  }

  .btn-1 {
    background-color: var(--green);
  }

  .btn-1:hover {
    background-color: var(--darkblue);
    color: var(--white);
    border: 2px solid var(--darkblue);
  }

  .btn-2 {
    background-color: var(--white);
    color: var(--darkblue);
    border: 2px solid var(--green);
  }

  .btn-2:hover {
    background-color: var(--darkblue);
    color: var(--white);
    border: 2px solid var(--darkblue);
  }

  nav {
    width: 100%;
    background-color: #45b36f;
  }

  nav img {
    height: 4em;
    width: auto;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  li {
    padding: 1em;
    text-align: center;
  }

  .review-section {
    background-color: var(--white);
    border-radius: 0.1em;
    padding: 1em;
    margin-right: 1em;
  }











  @media screen and (max-width: 600px) {
    ul {
      flex-direction: row;
    }
  }

