@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

:root {
    --darkblue: #384b61;
    --blue: #7faec5;
    --green: #4ecd5d;
    --darkgreen: #287530;
    --yellow: #e1bf24;
    --red: #b33838;
    --white: #ffffff;
    --cloud: #ffffff;
    --grey: #919ea1;
    --black: #1a1a1a;
    --normalfont: 'Open Sans', sans-serif;
    --titlefont: 'Raleway', sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--darkblue);
    font-family: var(--normalfont);
    height: 100%;
    width: 100%;
    line-height: 1.4em;
    background-image: url('../assets/background-img.png');
    background-color: #e3edf1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .moving-cloud {
    width: 100%;
    height: 3em;
    background-image: url('../assets/cloud.png');
    background-repeat: repeat-x;
    animation: scrollCloud 15s linear infinite;
  }

  .rotate-cloud {
    rotate: 180deg;
  }

  article{
    padding: 1em 15em;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s, transform 1s;
  }

  .article-color {
    background-color: var(--green);
  }
  
  .header-bg {
    background-image: url('../assets/header-img.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
  }

  .header-height {
    height: 20em;
  }

  .header-height .col:nth-child(1) {
    align-self: center;
  }

  h1 {
    font-size: 1.8em;
    margin: 0.5em 0;
    font-family: var(--titlefont);
  }

  h2 {
    font-size: 1.4em;
    font-family: var(--titlefont);
  }

  .sub-header {
    font-size: 1.6em;
    color: var(--white);
    margin: 0.5em 0;
  }

  .btn-rain {
    background: none;
    outline: none;
    border: none;
    color: var(--darkblue);
    font-size: 1em;
    margin-left: 0.5em;
  }

  .btn-rain:hover {
    color: var(--white);
  }

  .btn-section {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
  }

  .btn-section .btn:nth-child(1) {
    margin-right: 0.5em;
  }

  .section-row {
    display: flex;
    flex-direction: row;
  }

  .col {
    flex: 1;
  }

  .col-sm {
    flex: 0.5;
  }

  .col img {
    margin-top: 1em;
    width: 25em;
  }

  .img-flex {
    display: flex;
    justify-content: center;
  }

  .intro-title {
    color: var(--blue);
  }

  .section-title {
    color: var(--darkblue);
    border-bottom: 2px solid var(--green);
    margin-bottom: 1em;
  }

  .colored-title {
    color: var(--white);
    border-bottom: 2px solid var(--white);
  }

  .problem-subtitle {
    font-size: 1.6em;
    margin: 1em 0 1em 0;
    color: var(--blue);
  }

  .contact-title {
    font-size: 1.8em;
    margin: 0 0 0.5em 0;
  }

  .contact-subtitle {
    font-size: 1.6em;
    margin: 0 0 0.5em 0;
    color: var(--blue);
  }

  .btn, .nav-btn {
    border-radius: 0.2em;
    border: none;
    color: var(--darkblue);
    padding: 0.7rem 1rem;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    width: 10em;
    cursor: pointer;
    background-color: transparent;
  }

  .btn {
    margin-top: 1em;
  }

  .btn-green {
    color: var(--white);
    background-color: var(--green);
    border: 2px solid var(--green);
  }

  .btn-green:hover {
    background-color: var(--darkblue);
    color: var(--white);
    border: 2px solid var(--darkblue);
  }

  .btn-white {
    color: var(--darkblue);
    background-color: var(--white);
    border: 2px solid var(--white);
  }

  .btn-white:hover {
    color: var(--white);
    background-color: var(--darkblue);
    border: 2px solid var(--darkblue);
  }

  .btn-border {
    color: var(--white);
    border: 2px solid var(--white);
  }

  .btn-border:hover {
    background-color: var(--darkblue);
    color: var(--white);
    border: 2px solid var(--darkblue);
  }

  .btn-read {
    margin: 0.5em 0;
    padding: 0;
    width: auto;
  }

  .btn-read:hover {
    color: var(--blue);
  }

  #spatwater .btn {
    display: block;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 15em;
    background-color: var(--cloud);
  }

  nav img {
    height: 4em;
    width: auto;
  }

  .nav-items {
    list-style: none;
    display: flex;
  }

  .nav-link {
    padding: 0.5em;
    text-align: center;
    font-weight: 600;
  }

  .nav-toggle {
    display: none;
  }

  a {
    color: var(--blue);
    text-decoration: none;
  }

  a:hover {
    color: var(--green);
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--darkblue);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .review-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .review-section {
    background-color: var(--white);
    border-radius: 0.5em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  .date {
    font-size: 0.8em;
    margin-left: 0.5em;
    color: var(--blue);
  }

  .stars {
    color: var(--yellow);
    font-size: 1.2em;
  }

  .total-box{
    font-size: 2em;
  }

  .star-total {
    font-size: 2em;
    color: var(--white);
    font-weight: 600;
    margin-right: 0.2em;
  }

  .star-box {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
  }

  .star-box p {
    width: 5em;
    margin-right: 1em;
    color: var(--white);
  }

  .review-bar {
    background-color: var(--yellow);
    padding: 0.5em;
    width: 10em;
    border-radius: 1em;
    margin-right: 0.5em;
  }

  #bar1, #bar2, #bar3, #bar4 {
    width: 1em;
  }

  #section-more1, #section-more2, #section-more3 {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form .btn {
    margin: 0;
  }

  form input, textarea {
    padding: 0.5em;
    margin: 0 0 1em 0;
    border-radius: 0.5em;
    border: 0.15em solid var(--green);
    outline: none;
  }

  textarea {
    resize: none;
    height: 10em;
  }

  .carousel {
    display: flex;
    width: 100%;
    list-style: none;
    transition: transform 0.5s;
  }

  .image-item {
      transition: transform 0.5s, transform-origin 0.5s;
      margin: 0.5em 0.5em;
  }

  .image-item img {
      width: 100%;
      height: auto;
      border: 0.15em solid var(--green);
      border-radius: 0.5em;
      transition: transform 0.5s;
  }

  .doel-list {
    color: var(--blue);
    list-style: none;
  }

  .doel-list li {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
  }

  #scroll-top {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    padding: 1em;
    opacity: 0.9;
    border-radius: 0.2em;
    transition: .4s;
  }
  
  #scroll-top:hover {
    background-color: var(--darkblue);
  }

#scroll-top.show {
    display: block;
}

.img-section {
  display: flex;
  justify-content: flex-start;
}

.slider-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
}

#slider-img {
  width: auto;
  height: 20em;
}

  input[type=range] {
    -webkit-appearance: none;
    margin: 1.5em 0;
    width: 100%;
    border: 0.15em solid var(--green);
    border-radius: 0.5em;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: var(--white);
    border-radius: 0.5em;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 3em;
    width: 2em;
    border-radius: 0.5em;
    background: var(--green);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1em;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--white);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: var(--white);
    border-radius: 0.5em;
  }

  input[type=range]::-moz-range-thumb {
    height: 3em;
    width: 2em;
    border-radius: 0.5em;
    background: var(--green);
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: var(--white);
    border-radius: 0.5em;
  }

  input[type=range]::-ms-fill-upper {
    background: var(--white);
    border-radius: 0.5em;
  }

  input[type=range]::-ms-thumb {
    height: 3em;
    width: 2em;
    border-radius: 0.5em;
    background: var(--white);
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: var(--white);
  }

  input[type=range]:focus::-ms-fill-upper {
    background: var(--white);
  }

  footer {
    background-color: var(--cloud);
    padding: 1em 15em;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-bottom p, .footer-bottom a {
    color: var(--grey);
    font-size: 1em;
  }

  .footer-bottom a:hover {
    color: var(--darkblue);
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-list ul {
    list-style: none;
    padding: 1em;
  }

  .footer-list ul li:nth-child(1) {
    font-size: 1.2em;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--white); 
  }

  ::-webkit-scrollbar-thumb {
    background: var(--darkblue); 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue); 
  }

  @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      position: relative;
    }
    .nav-items {
      display: none;
      flex-direction: column;
      width: 100%;
    }
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
    .nav-toggle-show {
      display: flex;
    }
    nav a {
      align-self: self-start;
    }
    .nav-heading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    article{
      padding: 1em;
    }
    .sub-header {
      font-size: 1.3em;
    }
    .review-wrapper {
      flex-direction: column;
    }
    .review-section {
      margin-right: 0;
    }
    .section-row {
      flex-direction: column;
    }
    .col img {
      margin-top: 1em;
      width: 100%;
    }
    .header-height {
      height: auto;
    }
    .header-height .col:nth-child(1) {
      align-self: flex-start;
    }
    .img-section {
      display: none;
    }
    nav {
      padding: 0.5em;
    }
    .slider-section {
      padding: 0;
    }
    #slider-img {
      width: 20em;
    }
    .col-sm {
      flex: 1;
    }
    footer {
      padding: 1em;
    }
    .footer-list {
      flex-direction: column;
    }
    .footer-bottom {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 1280px) {
    nav {
      padding: 1em 2em;
    }
    article{
      padding: 1em 2em;
    }
    footer {
      padding: 1em 2em;
    }
  }

  @keyframes scrollCloud {
    from {background-position: 0 0;}
    to {background-position: -100% 0;}
  }

